<div class="{{ class|e('html_attr')|default('form-group') }}">
    <label for="prop_{{ attributename|e('html_attr') }}" class="col-sm-3 control-label{% if required %} required{% endif %}">{{ proplabeltext }}</label>
    <div class="col-sm-9">
        <div class="checkbox">
            <input id="prop_{{ attributename|e('html_attr') }}" type="checkbox" name="{{ field_name|e('html_attr') }}" value="1"{% if value %} checked="checked"{% endif %} />
        </div>
        {% if note != '' %}
            <p class="help-block">{{ note }}</p>
        {% endif %}
        <p id="prop_{{ attributename|e('html_attr') }}_error" class="alert alert-warning{% if not error %} hidden{% endif %}">{% if error %}{{ error }}{% endif %}</p>
    </div>
</div>
