<div class="{{ class|e('html_attr')|default('form-group') }}{% if error %} has-error{% endif %}">
    {% if required %}
        <p id="advice-required-prop_{{ attributeName|e('html_attr') }}" class="alert alert-warning" style="display: none">
            {{ __('Sorry! A required personal info item is missing. Please correct and try again.') }}
        </p>
    {% endif %}
    <label for="prop_{{ attributeName|e('html_attr') }}" class="col-sm-3 control-label{% if required %} required{% endif %}">{{ propLabelText }}</label>
    <div class="col-sm-9">
        {{ 'lib/legacy/viewplugins/function.jquery_datepicker.php'|php('include_once') }}
        {% set pickerArgs = { defaultdate: valueDateTime, displayelement: 'display_' ~ attributeName, displayformat_datetime: formats.dt, displayformat_javascript: formats.js, object: fieldObject, displayelement_class: 'form-control', readonly: false, valuestorageelement: attributeName, changeMonth: 'true', changeYear: 'true' } %}
        {{ pickerArgs|php('smarty_function_jquery_datepicker') }}
        {% if note != '' %}
            <p class="help-block">{{ note }}</p>
        {% endif %}
        <p id="prop_{{ attributeName|e('html_attr') }}_error" class="alert alert-danger{% if not error %} hidden{% endif %}">{% if error %}{{ error }}{% endif %}</p>
    </div>
</div>
