<div class="{{ class|e('html_attr')|default('form-group') }}">
    <label for="prop_{{ attributeName|e('html_attr') }}" class="col-sm-3 control-label{% if required %} required{% endif %}">{{ propLabelText }}</label>
    <div class="col-sm-9">
        <div id="prop_{{ attributeName|e('html_attr') }}">
            {% for key, label in fields %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="{{ fieldName|e('html_attr') }}[]" value="{{ key|e('html_attr') }}"{% if key in selectedValue %} checked="checked"{% endif %} /> {{ label }}
                    </label>
                </div>
            {% endfor %}
        </div>

        {% if note != '' %}
        <p class="help-block">{{ note }}</p>
        {% endif %}
        <p id="prop_{{ attributeName|e('html_attr') }}_error" class="alert alert-danger{% if not error %} hidden{% endif %}">{% if error %}{{ error }}{% endif %}</p>
    </div>
</div>
