{% set avatarPath = getModVar('ZikulaUsersModule', constant('Zikula\UsersModule\Constant::MODVAR_AVATAR_IMAGE_PATH')) %}

<div class="{{ class|e('html_attr')|default('form-group') }}">
    <label for="prop_{{ attributename|e('html_attr') }}" class="col-sm-3 control-label{% if required %} required{% endif %}">{{ proplabeltext }}</label>
    <div class="col-sm-9">
        {% set selectLabel = __('Select') %}
        {% set title = __f('&quot;%1$s: %2$s&quot; is required. Please select an option.', { '%1$s': item.prop_fieldset, '%2$s': item.prop_label }) %}
        {% if attributename == 'country' or '_country' in attributename %}
            {# TODO
            {selector_countries allText=$gt allValue='' class='form-control' id="prop_`$attributename`" name=$field_name selectedValue=$value required=true title=$title}
            #}
        {% else %}
            <select id="prop_{{ attributename|e('html_attr') }}" name="{{ field_name|e('html_attr') }}{% if selectmultiple %}[]{% endif %}"{% if selectmultiple %} placeholder="{{ __('Select')|e('html_attr') }}" {% endif %}{{ selectmultiple }} class="form-control" required="required" title="{{ __f('&quot;%1$s: %2$s&quot; is required. Please select an option.', { '%1$s': item.prop_fieldset, '%2$s': item.prop_label }) }}" x-moz-errormessage="{{ __f('&quot;%1$s: %2$s&quot; is required. Please select an option.', { '%1$s': item.prop_fieldset, '%2$s': item.prop_label })|e('html_attr') }}" oninvalid="this.setCustomValidity('{{ __('Please select an item in the list.')|e('html_attr') }}');" onchange="this.setCustomValidity('');" onblur="this.checkValidity();">
                {% if not selectmultiple %}<option label="{{ __('Select')|e('html_attr') }}" value="">{{ __('Select') }}</option>{% endif %}
                {% for key, item in listoptions %}
                    <option value="{{ item|e('html_attr') }}"{% if item in value %} selected="selected"{% endif %}>{{ listoutput[key] }}</option>
                {% endfor %}
            </select>
        {% endif %}

        {% if attributename == 'avatar' %}
            <p id="youravatarcontainer">
                <span id="youravatarpath" style="display: none">{{ avatarPath }}</span>
                <img class="img-thumbnail" id="youravatardisplay" src="{{ avatarPath|e('html_attr') }}/{{ value|e('html_attr') }}" alt="{{ proplabeltext }}" />
            </p>
        {% endif %}
        {% if note != '' %}
            <p class="help-block">{{ note }}</p>
        {% endif %}
    </div>
</div>
{% if attributename == 'avatar' %}
    {{ pageAddAsset('javascript', zasset('@ZikulaProfileModule:js/showavatar.js')) }}
    {% set avatarScript %}
        <script type="text/javascript">
        // <![CDATA[
            Event.observe($('prop_avatar'), 'change', showavatar);
        // ]]>
        </script>
    {% endset %}
    {{ pageAddAsset('footer', avatarScript) }}
{% endif %}
