<div class="{{ class|e('html_attr')|default('form-group') }}{% if error %} has-error{% endif %}">
    {% if required %}
        <p id="advice-required-prop_{{ attributename|e('html_attr') }}" class="alert alert-warning" style="display: none">
            {{ __('Sorry! A required personal info item is missing. Please correct and try again.') }}
        </p>
    {% endif %}
    <label for="prop_{{ attributename|e('html_attr') }}" class="col-sm-3 control-label{% if required %} required{% endif %}">{{ proplabeltext }}</label>
    <div class="col-sm-9">
        <textarea class="form-control{% if required %} required{% endif %}" id="prop_{{ attributename|e('html_attr') }}" name="{{ field_name|e('html_attr') }}">{{ value|e('html_attr') }}</textarea><br />
        {% if note != '' %}
            <p class="help-block">{{ note }}</p>
        {% endif %}
        <p id="prop_{{ attributename|e('html_attr') }}_error" class="alert alert-danger{% if not error %} hidden{% endif %}">{% if error %}{{ error }}{% endif %}</p>
    </div>
</div>
