{{ adminHeader() }}
<div class="z-admin-content-pagetitle">
    <span class="fa fa-trash-o"></span>
    <h3>{{ __('Delete personal info item') }}</h3>
</div>
<p class="alert alert-danger">{{ __('Do you really want to delete this personal info item?') }}</p>

{% form_theme deleteForm with [
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}

{{ form_start(deleteForm) }}
{{ form_errors(deleteForm) }}

<fieldset>
    <legend>{{ __('Confirmation prompt') }}</legend>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(deleteForm.delete) }}
            {{ form_widget(deleteForm.cancel) }}
        </div>
    </div>
</fieldset>

{{ block('display_hooks') }}
{{ form_end(deleteForm) }}
{{ adminFooter() }}
