{{ pageAddAsset('javascript', zasset('@ZikulaProfileModule:js/Zikula.Profile.Admin.Edit.js')) }}
{{ adminHeader() }}
<h3>
    {% if item|default %}
        <span class="fa fa-pencil"></span>
        {{ __('Edit field') }}
    {% else %}
        <span class="fa fa-plus-square"></span>
        {{ __('Create new field') }}
    {% endif %}
</h3>
{{ polyfill() }}

<form class="form-horizontal" action="{{ path('zikulaprofilemodule_admin_modify') }}" method="post" enctype="application/x-www-form-urlencoded">
    <div>
        <input type="hidden" name="dudid" value="{{ dudid }}" />
        <fieldset>
            <legend>{{ __('Item') }}</legend>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <p class="alert alert-warning">{{ __("Notice: No special characters or spaces are allowed in the personal info item's label or attribute name.") }}</p>
                </div>
                <label class="col-sm-3 control-label" for="profile_label">{{ __('Label') }}</label>
                <div class="col-sm-9">
                    <input class="form-control" id="profile_label" name="label" type="text" size="20" maxlength="255" value="{{ item.prop_label|default('')|e('html_attr') }}" />
                    {% set helpUrl = url('zikulaprofilemodule_admin_help') %}
                    <p class="alert alert-info">{{ __f('Check the <strong><a href="%s">help page</a></strong> to get more information about labels and translatable stuff.', { '%s': helpUrl })|raw }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="profile_attributename">{{ __('Attribute name') }}</label>
                <div class="col-sm-9">
                    {% if item|default %}
                        <span id="profile_attributename">{{ item.prop_attribute_name|default('') }}</span>
                    {% else %}
                        <input class="form-control" id="profile_attributename" name="attributename" type="text" size="20" maxlength="80" />
                        <div class="alert alert-warning">{{ __('Notice: The attribute name you enter cannot be changed afterwards, so you should choose it carefully.') }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="profile_required">{{ __("Make this a 'required' item") }}</label>
                <div class="col-sm-9">
                    <select class="form-control" id="profile_required" name="required">
                        <option value="">{{ __('Select') }}</option>
                        {% for value, label in requiredoptions %}
                            <option value="{{ value|e('html_attr') }}"{% if value == item.prop_required|default(0) %} selected="selected"{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="profile_viewby">{{ __('Visibility') }}</label>
                <div class="col-sm-9">
                    <select class="form-control" id="profile_viewby" name="viewby">
                        <option value="">{{ __('Select') }}</option>
                        {% for value, label in viewbyoptions %}
                            <option value="{{ value|e('html_attr') }}"{% if value == item.prop_viewby|default(0) %} selected="selected"{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <input type="hidden" name="dtype" value="{{ item.prop_dtype|default('')|e('html_attr') }}" />
            <div class="form-group">
                <label class="col-sm-3 control-label" for="profile_displaytype">{{ __('Type of control to display') }}</label>
                <div class="col-sm-9">
                    <select class="form-control" id="profile_displaytype" name="displaytype">
                        <option value="">{{ __('Select') }}</option>
                        {% for value, label in displaytypes %}
                            <option value="{{ value|e('html_attr') }}"{% if value == item.prop_displaytype|default(0) %} selected="selected"{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="profile_pattern">{{ __('Pattern') }}</label>
                <div class="col-sm-9">
                    <input class="form-control" id="profile_pattern" name="pattern" type="text" size="20" maxlength="80" value="{{ item.prop_pattern|default('')|e('html_attr') }}" />
                </div>
            </div>
            <div class="form-group" id="profile_content_wrapper">
                <label class="col-sm-3 control-label" for="profile_listoptions">{{ __('Content') }}</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="profile_listoptions" cols="50" rows="5" name="listoptions">{{ item.prop_listoptions|default('') }}</textarea>
                    <p class="alert alert-info" id="profile_help_type2">{{ __("Notice: Precede output options by '@@'. Example: '@@No@@Yes', '@@Disabled@@Enabled'. The order is important. If you want to have a different label in the edit form, you can use the following format: 'EditLabel@@DisplayNo@@DisplayYes'. All the values are translatable.") }}</p>
                    <p class="alert alert-info" id="profile_help_type3">{{ __("Notice: Use the following format for each option: '@@label@id'. Example: '@@radio option 1@id1@@radio option 2@id2@@radio option 3@id3'. The options are translatable.") }}</p>
                    <p class="alert alert-info" id="profile_help_type4">{{ __("Notice: Use the following format for each option: '@@label@id'. Example for a simple list: '@@option 1@id1@@option 2@id2@@option 3@id3'. Example for a multiple checkbox set: '1@@option 1@id1@@option 2@id2@@option 3@id3'. The options are translatable.") }}</p>
                    <p class="alert alert-info" id="profile_help_type5">{{ __("Notice: You can choose the date format to use: 'EUR' (day month year, default), 'US' (month day, year) or 'DB' (YYYY-MM-DD). Month names are automatically translated.") }}</p>
                    <p class="alert alert-info" id="profile_help_type7">{{ __("Notice: Use the following format for each option: 'id,label;'. Example: 'id1,label1;id2,label2;id3,label3'. Each property should be separated with a semicolon (';'). The ID and label of each property should be separated by a comma (','). The labels are translatable.") }}</p>
                    <div class="alert alert-warning" id="profile_warn_ids">
                        {{ __("Warning! If you want to edit the ID of an option without losing associated user data in the database, its label must not be renamed simultaneously. Also, do not assign IDs and labels the same naming. You are recommended to give each option an unique ID and a unique name, and to try to avoid renaming an ID once it has been created.") }}<br />
                        {{ __("Notice: Entering an ID is optional. If you do not specify an ID, the option position will be used for the ID (starting from zero), instead of the user-defined ID you can enter here. You are recommended to choose an ID that is unique, and to avoid subsequently modifying it.") }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="profile_note">{{ __('Notice to display with personal info item') }}</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="profile_note" cols="50" rows="2" name="note">{{ item.prop_note|default('')|e('html_attr') }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="profile_fieldset">{{ __('Fieldset') }}</label>
                <div class="col-sm-9">
                    <input class="form-control" id="profile_fieldset" name="fieldset" type="text" size="20" maxlength="80" value="{{ item.prop_fieldset|default('')|e('html_attr') }}" placeholder="{{ __('User information')|e('html_attr') }}" />
                </div>
            </div>
        </fieldset>
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-success" type="submit" name="save"><span class="fa fa-check"></span>{{ __('Save') }}</button>
            <a class="btn btn-danger" href="{{ path('zikulaprofilemodule_admin_view') }}" title="{{ __('Cancel')|e('html_attr') }}"><span class="fa fa-times"></span>{{ __('Cancel') }}</a>
        </div>
    </div>
</form>
{{ adminFooter() }}
