{{ pageAddAsset('js', zasset('@ZikulaProfileModule:js/Zikula.Profile.Admin.View.js')) }}
{{ adminHeader() }}
<h3>
    <span class="fa fa-list"></span>
    {{ __('Fields list') }}
</h3>

<form action="" method="post" enctype="application/x-www-form-urlencoded">
    <div>
        <input type="hidden" id="startnum" name="startnum" value="{{ startNum }}" />
        <p id="profilehint" class="alert alert-info hidden">{{ __('Notice: Use drag and drop to arrange the personal info items into your desired order. The new order will be saved automatically when you drop the item into place.') }}</p>
        <ol id="profilelist" class="z-itemlist">
            <li class="z-itemheader z-itemsortheader z-clearfix">
                <span class="z-itemcell z-w20">{{ __('Fieldset') }}</span>
                <span class="z-itemcell z-w25">{{ __('Label') }}</span>
                <span class="z-itemcell z-w25">{{ __('Attribute name') }}</span>
                <span class="z-itemcell z-w10">{{ __('Type') }}</span>
                <span class="z-itemcell z-w10">{{ __('Status') }}</span>
                <span class="z-itemcell z-w10">{{ __('Actions') }}</span>
            </li>
            {% for dudItem in dudItems %}
            <li id="profile_{{ dudItem.prop_id|e('html_attr') }}" class="{{ cycle(['z-odd', 'z-even']) }} z-itemsort z-sortable z-clearfix">
                <span class="z-itemcell z-w20" id="profiledrag_{{ dudItem.prop_id|e('html_attr') }}">[{{ dudItem.prop_fieldset }}]</span>
                <span class="z-itemcell z-w25">{{ dudItem.prop_label }}</span>
                <span class="z-itemcell z-w25">{{ dudItem.prop_attribute_name }}</span>
                <span class="z-itemcell z-w10">{{ dudItem.dtype }}</span>
                <span class="z-itemcell z-w10">
                    {% if dudItem.status.url != '' %}
                        <a href="{{ dudItem.status.url|e('html_attr') }}" id="profilestatus_{{ dudItem.prop_id|e('html_attr') }}" class="profilestatus_{{ dudItem.statusval|e('html_attr') }}">
                            <span class="{{ dudItem.status.labelClass|e('html_attr') }}" title="{{ __('click to'}|e('html_attr') }} {{ dudItem.status.title|e('html_attr') }}">{{ dudItem.status.current }}</span>
                            <strong>{{ dudItem.status.title }}</strong>
                        </a>
                    {% else %}
                        <span class="{{ dudItem.status.labelClass|e('html_attr') }}" title="{{ dudItem.status.title|e('html_attr') }}">{{ dudItem.status.current }}</span>
                    {% endif %}
                </span>
                <span class="z-itemcell z-w10">
                    {% for option in dudItem.options %}
                        <a href="{{ option.url|e('html_attr') }}"{% if option.class %} class="{{ option.class|e('html_attr') }}"{% endif %}><i class="{{ options.iconClass|e('html_attr') }}" title="{{ option.title|e('html_attr') }}"></i></a>
                    {% endfor %}
                </span>
            </li>
            {% endfor %}
        </ol>
    </div>
</form>

{{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, posvar: 'startnum', route: 'zikulaprofilemodule_admin_view'}) }}
{{ adminFooter() }}

{% set initScript %}
    <script type="text/javascript">
    // <![CDATA[
        (function($) {
            $(document).ready(function() {
                var msgProfileStatusDeactivate = '{{ __('Deactivate') }}';
                var msgProfileStatusActivate = '{{ __('Activate') }}';
                var msgProfileStatusInactive = '{{ __('Inactive') }}';
                var msgProfileStatusActive = '{{ __('Active') }}';
                var msgProfileStatusClickTo = '{{ __('click to') }}';
                profileInitAdminView();
            });
        })(jQuery)
    // ]]>
    </script>
{% endset %}
{{ pageAddAsset('footer', initScript) }}
