{{ moduleHeader('user', __('Users online'), true, true) }}

{% if getModVar('ZConfig', 'sessionstoretofile', constant('Zikula\\SecurityCenterModule\\Constant::SESSION_STORAGE_FILE')) == constant('Zikula\\SecurityCenterModule\\Constant::SESSION_STORAGE_FILE') %}
    <div class="alert alert-info">{{ __('This information is not available.') }}
    {% if hasPermission('ZikulaSecurityCenterModule::', '::', 'ACCESS_ADMIN') %}
        <br />{{ __('Admin Message: Sessions are configured to store in a file.') }}&nbsp;
        <a href="{{ path('zikulasecuritycentermodule_config_config') }}">{{ __('Reconfigure session storage') }}</a>
    {% endif %}
    </div>
{% else %}

<div class="panel panel-default">
    <table class="table table-striped">
        <colgroup>
            <col id="cUserName" />
            {% if messageModule|default %}
                <col id="cMessages" />
            {% endif %}
            {% if 'url' in activeProperties %}
                <col id="cSite" />
            {% endif %}
        </colgroup>
        <thead>
            <tr>
                <th id="hUserName" scope="col">{{ __('User name') }}</th>
                {% if messageModule|default %}
                    <th id="hMessages" scope="col">{{ __('Messages') }}</th>
                {% endif %}
                {% if 'url' in activeProperties %}
                    <th id="hSite" scope="col">{{ __('Site') }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user in users if user.uid != constant('Zikula\\UsersModule\\Constant::USER_ID_ANONYMOUS') %}
            <tr>
                <td headers="hUserName"><strong>{{ user.uname|profileLinkByUserName() }}</strong> ({{ user.uname }})</td>
                {% if messageModule|default %}
                    <td headers="hMessages"><a href="{{ user.uid|messageSendLink(true) }}"><i class="fa fa-envelope-o fa-lg"></i></a></td>
                {% endif %}
                {% if 'url' in activeProperties %}
                    <td headers="hSite">
                        {% set url =  user.attributes[prefix ~ ':url']|default %}
                        {% if url and url != 'http://' %}
                            <a href="{{ url|e('html_attr') }}"><i class="fa fa-globe fa-lg" title="{{ url|e('html_attr') }}"></i></a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
            {% else %}
                <tr class="warning">
                    <td colspan="4">{{ __('No registered users are currently online.') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
