{% set templateTitle = __('Registered users') %}
{{ include('@ZikulaProfileModule/menu.html.twig') }}

<form class="form-horizontal" action="{{ path('zikulaprofilemodule_members_view') }}" method="post" enctype="application/x-www-form-urlencoded">
    <div>
        <div class="well">
            <div class="form-group">
                <div class="col-sm-3 control-label">
                    <label for="profile_letter" class="profile_letter">{{ __('Search') }}</label>
                </div>
                <div class="col-sm-9">
                    <span class="col-sm-3"><input class="form-control" id="profile_letter" type="text" name="letter" value="" maxlength="50" /></span>
                    <span class="col-sm-9"><input class="btn btn-success" type="submit" value="{{ __('Submit') }}" /></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="radio">
                        <label for="profile_nickname">
                            <input id="profile_nickname" type="radio" name="searchby" value="uname" checked="checked" />
                            {{ __('Search in user names') }}
                        </label>
                    </div>
                    {% if dudarray.realname|default %}
                        <div class="radio">
                            <label for="profile_realname">
                                <input id="profile_realname" type="radio" name="searchby" value="{{ dudarray.realname|e('html_attr') }}" />
                                {{ __('Search in real names') }}
                            </label>
                        </div>
                    {% endif %}
                    {% if dudarray.url|default %}
                    <div class="radio">
                        <label for="profile_url">
                            <input id="profile_url" type="radio" name="searchby" value="{{ dudarray.url|e('html_attr') }}" />
                            {{ __('Search in sites') }}
                        </label>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="profile-alphafilter" class="text-center">
        {{ pagerabc({ route: 'zikulaprofilemodule_members_view', posvar: 'letter', forwardvars: 'sortby', printempty: true }) }}
    </div>
</form>

<div class="panel panel-default">
    <table class="table table-striped">
        <colgroup>
            <col id="cUserName" />
            {% if dudArray.realname|default %}
                <col id="cRealName" />
            {% endif %}
            {% if messageModule|default %}
                <col id="cMessages" />
            {% endif %}
            {% if dudArray.url|default %}
                <col id="cSite" />
            {% endif %}
            {% if adminedit %}
                <col id="cActions" />
            {% endif %}
        </colgroup>
        <thead>
            <tr>
                <th id="hUserName" scope="col">{{ __('User name') }}</th>
                {% if dudArray.realname|default %}
                    <th id="hRealName" scope="col">{{ __('Real name') }}</th>
                {% endif %}
                {% if messageModule|default %}
                    <th id="hMessages" scope="col">{{ __('Messages') }}</th>
                {% endif %}
                {% if dudArray.url|default %}
                    <th id="hSite" scope="col">{{ __('Site') }}</th>
                {% endif %}
                {% if adminedit %}
                    <th id="hActions" scope="col">{{ __('Actions') }}</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td headers="hUserName"><strong>{{ user.uname|profilelinkbyuname() }}</strong>&nbsp;&nbsp;
                    {% if user.onlinestatus == 1 %}
                        <a href="{{ path('zikulaprofilemodule_members_online') }}" title="{{ __('View users online') }}"><span class="label label-success">{{ __('online') }}</span></a>
                    {% else %}
                        <span class="label label-danger">{{ __('offline') }}</span>
                    {% endif %}
                </td>
                {% if dudArray.realname|default %}
                    <td headers="hRealName">{{ user.attributes.realname|default('&nbsp;') }}</td>
                {% endif %}
                {% if messageModule|default %}
                    <td headers="hMessages"><a href="{{ path(messageModule|lower ~ '_user_newpm', { uid: user.uid }) }}"><i class="fa fa-envelope-o fa-lg"></i></a></td>
                {% endif %}
                {% if dudArray.url|default %}
                    <td headers="hSite">
                        {% if user.attributes.url|default and user.attributes.url != 'http://' %}
                        <a href="{{ user.attributes.url|e('html_attr') }}"><i class="fa fa-globe fa-lg" title="{{ user.attributes.url|e('html_attr') }}"></i></a>
                        {% else %}
                        &nbsp;
                        {% endif %}
                    </td>
                {% endif %}
                {% if adminedit %}
                    <td headers="hActions">
                        <a href="{{ path('zikulausersmodule_useradministration_modify', { user: user.uid }) }}"><i class="fa fa-pencil fa-lg"></i></a>
                        {% if admindelete %}
                            <a href="{{ path('zikulausersmodule_useradministration_delete', { user: user.uid }) }}"><i class="fa fa-trash-o fa-lg text-danger"></i></a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
            {% else %}
                <tr class="danger"><td colspan="5">{{ __('No users found.') }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ pager({ rowcount: pager.amountOfItems, limit: pager.itemsPerPage, posvar: 'startnum', route: 'zikulaprofilemodule_members_view' }) }}

<h3>{{ __('Statistics') }}</h3>
<ul id="profile_status">
    <li><strong>{{ __('Registered:') }}</strong> {{ amountOfRegisteredMembers }}</li>
    <li><strong>{{ __('Online:') }}</strong> <a href="{{ path('zikulaprofilemodule_members_online') }}" title="{{ __('View users online') }}">{{ amountOfOnlineMembers }}</a></li>
    <li><strong>{{ __('Newest user:') }}</strong> <a href="{{ path('zikulaprofilemodule_profile_display', { uname: newestMemberName }) }}" title="{{ __f('View profile of %uname%', { '%uname%': newestMemberName }) }}">{{ newestMemberName }}</a></li>
</ul>
