{% if sessionsToFile %}
    <div class="alert alert-info">{{ __('This information is not available.') }}
        {% if hasPermission('ZikulaSecurityCenterModule::', '::', 'ACCESS_ADMIN') %}
            <br />{{ __('Admin Message: Sessions are configured to store in a file.') }}&nbsp;
            <a href="{{ path('zikulasecuritycentermodule_config_config') }}">{{ __('Reconfigure session storage') }}</a>
        {% endif %}
    </div>
{% else %}
    <ul class="list-group">
        {% for session in sessions %}
            <li class="list-group-item">{{ session.uid|profileLinkByUserId() }} ({{ session.lastused|localizeddate('medium', 'short') }})</li>
        {% endfor %}
    </ul>
{% endif %}
