{% if usersOnline %}
<ul style="padding-left: 2em;">
    {% for user in usersOnline %}
    <li>
        {{ user.uname|profileLinkByUserName('', '', maxLength) }}
        {% if messageModule is not empty %}
            {% if user.uid == currentUserId %}
                {% set title = messageCount(user.uid, true) ~ __('unread') ~ "|" ~ messageCount(user.uid) ~ __('total') %}
                ({{ messageInboxLink(user.uid, false, title) }})
            {% else %}
                <a href="{{ user.uid|messageSendLink(true) }}" title="{{ __f('Send private message to %s', { '%s': user.uname })|e('html_attr') }}"><i class="fa fa-envelope-o"></i></a>
            {% endif %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
<p class="text-info">
    {% if amountOfOnlineGuests == 0 %}
        {% set amountOfMembers = _fn('%s registered user', '%s registered users', amountOfOnlineMembers, { '%s': amountOfOnlineMembers }) %}
        {{ __f('%s on-line.', { '%s': amountOfMembers }) }}
    {% elseif amountOfOnlineMembers == 0 %}
        {% set amountOfGuests = _fn('%s anonymous guest', '%s anonymous guests', amountOfOnlineGuests, { '%s': amountOfOnlineGuests }) %}
        {{ __f('%s on-line.', { '%s': amountOfGuests }) }}
    {% else %}
        {% set amountOfMembers = _fn('%s registered user', '%s registered users', amountOfOnlineMembers, { '%s': amountOfOnlineMembers }) %}
        {% set amountOfGuests = _fn('%s anonymous guest', '%s anonymous guests', amountOfOnlineGuests, { '%s': amountOfOnlineGuests }) %}
        {{ __f('%1$s and %2$s on-line.', { '%1$s': amountOfMembers, '%2$s': amountOfGuests }) }}
    {% endif %}
</p>
