{{ moduleHeader('user', __('Profile'), true, true) }}

<div class="card bg-light mb-3">
    <div class="card-body">
        <h2 class="card-title"><i class="fa fa-user-circle"></i> {{ __f('Profile for %uname', {'%uname': user.uname}) }}</h2>
        <div class="card-text row">
            <div class="col-md-3 text-center">
                {{ userAvatar(user.uid) }}
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 text-right">
                        <strong>{{ __('User name') }}</strong>
                    </div>
                    <div class="col-md-9">
                        <span>{{ user.uname }}</span>
                    </div>
                </div>
                {{ include('@ZikulaProfileModule/displayAttributes.html.twig', {context: 'profile'}) }}
                <div>{{ notifyDisplayHooks('zikulaprofilemodule.ui_hooks.display.profile', user.uid, routeUrl) }}</div>
            </div>
        </div>
    </div>
    {% if currentUser.uid == user.uid or hasPermission('ZikulaProfileModule::edit', '::', 'ACCESS_EDIT') %}
        <div class="card-footer text-right">
            <a class="btn btn-success btn-sm" href="{{ path('zikulaprofilemodule_profile_edit', {uid: user.uid}) }}"><i class="fa fa-pencil-alt"></i> {{ __('Edit profile') }}</a>
        </div>
    {% endif %}
</div>
