{{ moduleHeader('user', __('Profile'), true, true) }}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="fa fa-user-circle-o"></i> {{ __f('Profile for %uname', {'%uname': user.uname}) }}</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3 text-center">
                {{ userAvatar(user.uid) }}
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <strong>{{ __('User name') }}</strong>
                    </div>
                    <div class="col-sm-9">
                        <span>{{ user.uname }}</span>
                    </div>
                </div>
                {{ include('@ZikulaProfileModule/displayAttributes.html.twig', {context: 'profile') }}
                <div>{{ notifyDisplayHooks('zikulaprofilemodule.ui_hooks.display.profile', user.uid, routeUrl) }}</div>
            </div>
        </div>
    </div>
    {% if currentUser.uid == user.uid or hasPermission('ZikulaProfileModule::edit', '::', 'ACCESS_EDIT') %}
        <div class="panel-footer text-right">
            <a class="btn btn-success btn-xs" href="{{ path('zikulaprofilemodule_profile_edit', {uid: user.uid}) }}"><i class="fa fa-pencil"></i> {{ __('Edit profile') }}</a>
        </div>
    {% endif %}
</div>
