{{ moduleHeader('user', __('Profile'), true, true) }}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="fa fa-user-circle-o"></i> {{ __f('Profile for %uname', {'%uname': user.uname}) }}</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 text-center">
                {{ userAvatar(user.uid) }}
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 text-right">
                        <strong>{{ __('User name:') }}</strong>
                    </div>
                    <div class="col-md-9">
                        <span>{{ user.uname }}</span>
                    </div>
                </div>
                {% if getModVar('ZikulaProfileModule', 'viewregdate', 1) == 1 and user.user_regdate != '1970-01-01 00:00:00' %}
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <strong>{{ __('Registration date:') }}</strong>
                        </div>
                        <div class="col-md-9">
                            <span>{{ user.user_regdate|localizeddate('medium', 'none')|default('&nbsp;') }}</span>
                        </div>
                    </div>
                {% endif %}
                {% for attribute in user.attributes|zikulaprofilemodule_sortAttributesByWeight if (attribute.value is not empty and prefix in attribute.name and 'avatar' not in attribute.formType|lower) %}
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <strong>{{ attribute.extra }}</strong>
                        </div>
                        <div class="col-md-9">
                            <span>{{ attribute.value }}</span>
                        </div>
                    </div>
                {% endfor %}
                <div>{{ notifyDisplayHooks('zikulaprofilemodule.ui_hooks.display.profile', user.uid, routeUrl) }}</div>
            </div>
        </div>
    </div>
    {% if currentUser.uid == user.uid or hasPermission('ZikulaProfileModule::edit', '::', 'ACCESS_EDIT') %}
        <div class="panel-footer text-right">
            <a class="btn btn-success btn-xs" href="{{ path('zikulaprofilemodule_profile_edit', {uid:user.uid}) }}"><i class="fa fa-pencil"></i> {{ __('Edit profile') }}</a>
        </div>
    {% endif %}
</div>
