{% if userInfo.__ATTRIBUTES__ is defined %}
    {% set name = userInfo.__ATTRIBUTES__['realname'] %}
{% endif %}
{% if name is not defined or name is empty %}
    {% set name = uname %}
{% endif %}

{% set templateTitle = __f('Latest submissions of %s', { '%s': name|capitalize }) %}
{{ include('@ZikulaProfileModule/menu.html.twig') }}

<div id="profile_wrapper">
    {% set allowGravatars = getModVar('ZikulaUsersModule', 'allowgravatars') %}
    {% if dudArray.avatar|default and dudarray.avatar not in ['blank.gif', 'blank.png', 'gravatar.jpg'] %}
        {% set avatarPath = getModVar('ZikulaUsersModule', constant('Zikula\UsersModule\Constant::MODVAR_AVATAR_IMAGE_PATH')) %}
        <img class="img-thumbnail" src="{{ avatarPath|e('html_attr') }}/{{ dudArray.avatar|e('html_attr') }}" alt="{{ name|e('html_attr') }}" />
    {% elseif allowGravatars %}
        {{ gravatar(emailAddress = userInfo.email) }}
    {% endif %}
    <div class="form">
        <div class="form-group">
            {{ profileSection(name='News') }}
        </div>
        <div class="form-group">
            {{ profileSection(name='EZComments') }}
        </div>
    </div>
</div>
