{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ moduleHeader('user', __('Edit profile'), true, true) }}

{{ form_start(form) }}
{% for element in form|filter(e => e.vars.name not in ['save', 'cancel']) %}
    {{ form_row(element) }}
{% endfor %}
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
    <input type="hidden" id="avatarPath" value="{{ getModVar(constant('Zikula\\UsersModule\\Constant::MODNAME'), constant('Zikula\\ProfileModule\\ProfileConstant::MODVAR_AVATAR_IMAGE_PATH'), constant('Zikula\\ProfileModule\\ProfileConstant::DEFAULT_AVATAR_IMAGE_PATH')) }}" />
</div>
{{ form_end(form) }}
{{ pageAddAsset('javascript', zasset('@ZikulaProfileModule:js/ZikulaProfileModule.Avatar.Edit.js')) }}
