{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ moduleHeader('user', __('Edit profile'), true, true) }}

{{ form_start(form) }}
{% for element in form if element.vars.name not in ['save', 'cancel'] %}
    {{ form_row(element) }}
{% endfor %}
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
