{% form_theme form with [
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}

<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-wrench"></span>
            {{ __('Settings') }}
            {{ pageSetVar('title', __('Profile settings')) }}
        </h3>
        {% if getModVar('ZConfig', 'sessionstoretofile', constant('Zikula\\SecurityCenterModule\\Constant::SESSION_STORAGE_FILE')) == constant('Zikula\\SecurityCenterModule\\Constant::SESSION_STORAGE_FILE') %}
            <div class="alert alert-danger">{{ __('Sessions are configured to store in a file. This prevents some functionality within the profile module related to tracking who is online.') }}&nbsp;
                <a href="{{ path('zikulasecuritycentermodule_config_config') }}">{{ __('Reconfigure session storage') }}</a>
            </div>
        {% endif %}
        {% if getModVar('ZConfig', 'profilemodule') != 'ZikulaProfileModule' %}
            <div class="alert alert-danger">{{ __('The profile module is not selected as the system profile module. This is needed for full functionality.') }}&nbsp;
                <a href="{{ path('zikulasettingsmodule_settings_main') }}">{{ __('Update system settings') }}</a>
            </div>
        {% endif %}

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <fieldset>
            <legend>{{ __('Registered users list settings') }}</legend>
            {{ form_row(form.viewregdate) }}
            {{ form_row(form.memberslistitemsperpage) }}
            {{ form_row(form.onlinemembersitemsperpage) }}
            {{ form_row(form.recentmembersitemsperpage) }}
            {{ form_row(form.activeminutes) }}
            {{ form_row(form.filterunverified) }}
        </fieldset>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{{ adminFooter() }}
