{% form_theme form with [
'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ adminHeader() }}

{{ form_start(form) }}
{{ form_row(form.id) }}
{{ form_row(form.labels) }}
{{ form_row(form.formType) }}
{{ form_row(form.formOptions) }}
{{ form_row(form.weight) }}
{{ form_row(form.active) }}
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
{{ pageAddAsset('javascript', asset('modules/zikulaprofile/js/ZikulaProfileModule.Profile.Edit.js')) }}
