{% form_theme form with [
    '@ZikulaFormExtension/Form/bootstrap_4_zikula_admin_layout.html.twig',
    '@ZikulaFormExtension/Form/form_div_layout.html.twig'
] %}
{{ adminHeader() }}

{{ pageSetVar('title', __('Edit property')) }}
{{ form_start(form) }}
{{ form_row(form.id) }}
{{ form_row(form.labels) }}
{{ form_row(form.fieldInfo) }}
{{ form_row(form.weight) }}
{{ form_row(form.active) }}
<div class="form-group row">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.save) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}

{{ adminFooter() }}
