{{ adminHeader() }}
{{ pageSetVar('title', __('Property list')) }}
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cWeight" />
        <col id="cId" />
        <col id="cLabel" />
        <col id="cFormType" />
        <col id="cActive" />
        <col id="cActions" />
    </colgroup>
    <thead>
    <tr>
        <th id="hWeight" scope="col">{{ __('Weight') }}</th>
        <th id="hId" scope="col">{{ __('ID') }}</th>
        <th id="hLabel" scope="col">{{ __('Label') }}</th>
        <th id="hFormType" scope="col">{{ __('Form Type') }}</th>
        <th id="hActive" scope="col">{{ __('Active') }}</th>
        <th id="hActions" scope="col">{{ __('Actions') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for property in properties %}
        <tr>
            <td headers="hWeight">{{ property.weight}}</td>
            <td headers="hId">{{ property.id}}</td>
            <td headers="hLabel">{{ property.label(app.request.locale|default('en')) }}</td>
            <td headers="hFormType">{{ property.formType|split('\\')|last }}</td>
            <td headers="hActive">{{ property.active|yesNo }}</td>
            <td headers="hActions">
                <a href="{{ path('zikulaprofilemodule_property_edit', {id: property.id}) }}" title="{{ __('Edit property')|e('html_attr') }}"><i class="fa fa-pencil-alt fa-lg fa-fw"></i></a>
                <a href="{{ path('zikulaprofilemodule_property_delete', {id: property.id}) }}" title="{{ __('Delete property')|e('html_attr') }}"><i class="fa fa-trash-alt fa-lg fa-fw"></i></a>
            </td>
        </tr>
    {% else %}
        <tr class="table-info"><td colspan="6" class="text-center">{{ __('No items found.') }}</td></tr>
    {% endfor %}
    </tbody>
</table>
